/* 
Author: Leo Yang
Styles for personal website 
*/

:root {
  --rich-black-fogra-29: #0d1821ff;
  --indigo-dye: #344966ff;
  --light-steel-blue: rgb(228, 228, 228);
  --baby-powder: #f0f4efff;
  --sage: #bfcc94ff;
  scroll-behavior: smooth;
}

/* * { border: 1px solid black; } */

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.parent {
  display: flex;
  justify-content: space-evenly;
}

img {
  max-width: 100%;
}

#landing {
  flex-direction: column;
}

main {
  margin: 0 5% 5% 5%;
}

#landing {
  height: 100vh;
}

#intro > * {
  margin: 5% 5%;
}

.picture {
  padding-top: 50px;
  width: 40%;
  height: 40%;
}

.about-me {
  width: 60%;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--rich-black-fogra-29);
  background-color: var(--baby-powder);
  margin: 0;
}

h1 {
  margin: 10px 0px 10px 0px;
  font-size: 48pt;
  color: var(--indigo-dye)
}

h2 {
  font-size: 32pt;
  color: var(--indigo-dye);
}

p {
  text-align: justify;
}

.self-picture {
  width: 100%;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--rich-black-fogra-29);
}

#continue {
  text-align: center;
}

#projects, #experiences{
  flex-direction: column;
  text-align: center;
}

.project {
  width: 30%;
}

.experience {
  margin: 0px 5% 5% 5%;
}

.experience-img {
  width: 30%;
}

.experience-text {
  width: 70%;
}

.experience-text > * {
  margin: 5px 5px 5px 12px;
  text-align: left;
}


footer {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}